{{!-- insert dashboard html here --}}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Notifications</h2>
      {{#each user.invitation as |invitation| }}
      <div class="row mb-4">
        <div class="col-md-5">
          {{#each invitation.group_id as |invitation|}}
          {{!-- need to change line below to link invitation to accept invitation route (not created yet) --}}
            <p>{{invitation}}</p>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-6">
      <h2>Your Posts</h2>
      {{#each user.post as |post| }}
      <div class="row mb-4">
        <div class="col-md-5">
          <h4>
            {{post.title}}
          </h4>
          <p>
            {{post.content}}
          </p>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col">
      <h2>Your Groups</h2>
      {{#each user.group as |group| }}
      <div class="row mb-4">
        <div class="col-md-5">
          <button type="button" class="btn btn-primary btn-lg btn-block"><a class="text-white"
              href="/group/{{group.id}}">{{group.name}}</a></button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>