{{!-- add topic section --}}
{{!-- create post section and add posts section in a partial --}}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Group Members</h2>
      <div class="btn-group-vertical">
        {{#each memberships as |member| }}
        <h1>{{member.username}}</h1>
      </div>
      {{/each}}
      <form class="form new-invitation">
        <div class="form-group">
          <label for="textarea"></label>
          <textarea class="form-control" id="email" placeholder="Enter Email" rows="1"></textarea>
          <button class="btn btn-primary" data-id="{{id}}" type="submit">Invite</button>
        </div>
        <hr>
        <h2>Topics</h2>
        <div class="btn-group-vertical">
          {{#each topics as |topic| }}
          <a class="btn btn-primary" href="/group/{{topic.group_id}}/topic/{{topic.id}}" role="button">{{topic.name}}</a>
          {{/each}}
        </div>
    </div>
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-6">Your posts in {{name}}</h1>



          {{#each posts as |post| }}
          <div class="card">
            <div class="card-header">
              <h2> <a href="/post/{{post.id}}">{{post.title}}</a></h2>
            </div>
            <div class="card-body">
              <p class="card-text">{{post.content}}</p>

            </div>
            <div class="card-footer text-muted">
              <p>{{post.createdAt}}</p>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
    <div class="col">
      <h2>Create New Post</h2>
      <form class="form new-post">
        <div class="form-group">
          <label for="new-post"></label>
          <input class="form-input" type="text" id="post-title" placeholder=" Title" />
          <label for="textarea"></label>
          <textarea class="form-control" id="post-content" placeholder="What would you like to say" rows="3"></textarea>
          <button class="btn btn-primary" type="submit">POST</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>